<!DOCTYPE html>
<html lang="en">
    <head>
        <title>HBNB</title>
    </head>
    <body>
        <h1>States</h1>
        <ul>
        {% for state in states.values()|sort(attribute="name") %}
            <li>{{ state.id }}: <b>{{ state.name }}</b>
                <li
                {% for city in state.cities|sort(attribute="name") %}
                    <li></li>{{ city.id }}: <B>{{ city.name }}</b></li>
                {% endfor %}
                </ul>
            </li>
        {% endfor %}
        </ul>
    </body>
</html>